body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;

}

h1 {
  color: blue;
}
li {
  list-style: none;
}

img {
  width: 100px;
  height: 100px;
  border: black solid;
  border-width: 6px;
  margin: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  width: 100%;
  height: 100%;
  border: none;
  border-width: none;
  margin: none;
}